.popup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 800px;
  background-color: white;
  z-index: 3;
  overflow: auto;
}

.addtocart-subcontainer {
  margin: 20px 0 0 20px;
}

.popup-container p {
  font-size: 20px;
}

.counter-p {
  position: absolute;
  left: 250px;
}

.addtocart-close-button {
  position: absolute;
  left: 27%;
  top: 8.5%;

  font-size: 21px;
  padding: 5px;
  z-index: 3;
  cursor: pointer;

  background-color: transparent;
  border: none;
  color: white;
  text-transform: uppercase;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 200vh; /* changed the height for auto scroll*/
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.addtocart-img {
  width: 190px;
}

.container-flex {
  display: flex;
  align-items: center;
}

/* .container-flex button {
  margin: 0 10px 0 10px;
  font-size: 24px;
  padding: 5px;

  border: none;
  background-color: transparent;
  cursor: pointer;
} */

.btnminus {
  margin: 0 10px 0 10px;
  font-size: 24px;
  padding: 5px;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btnadd {
  margin: 0 10px 0 15px;
  font-size: 24px;
  padding: 5px;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btndel {
  font-size: 17px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 3px 10px;

  margin-left: 150px;
  cursor: pointer;
  background-color: red;
  color: white;
  border: 1px solid white;
}

.total-p {
  margin-top: 100px;
}

.noItems {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.noItems-p {
  font-size: 20px;
  z-index: 4;
}

.paynow-button {
  font-size: 27px;
  font-weight: bold;
  padding: 5px 15px;
  width: 36.5%;
  background-color: #ffde59;
  border: none;
  border-radius: 50px;
  cursor: pointer;

  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 5;
}

.paynow-button:hover {
  background-color: black;
  color: #ffde59;
}
